<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689460655392-sq63ssaknqpm8aug7nu66esprq9i713b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689460655392-sq63ssaknqpm8aug7nu66esprq9i713b</string>
	<key>API_KEY</key>
	<string>AIzaSyBACqvfNY3xGj7flnJ3EQ1nFwrz4R6DveU</string>
	<key>GCM_SENDER_ID</key>
	<string>689460655392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ustore</string>
	<key>PROJECT_ID</key>
	<string>u-store-b9593</string>
	<key>STORAGE_BUCKET</key>
	<string>u-store-b9593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689460655392:ios:1ffbe212feeb0d2bd85345</string>
</dict>
</plist>